/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utils */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.text-grey {
    color: #808080;
}

.text-small {
    font-size: 0.7rem;
}

.width-50 {
    width: 50%;
}

/* Generics */
h1 {
    font-size: 2.8rem;
    margin-top: 15px;
}

a {
    color: #3cb4e7;
    text-decoration: none;
}

address {
    font-style: normal;
}

ul {
    list-style-position: inside;
    margin: 30px 0;
}

table {
    border-collapse: collapse;
    margin: 30px 0;
}

/* Header */
header {
    background-color: #4EA0FF;
    height: 116px;
    background-image: url(../img/pattern.png);
    background-size: 30%;
}

#logo {
    height: 52px;
    margin: 50px 0;
}

/* Main */
.pictures {
    margin: 20px 0;
}

/* Table */
th {
    text-align: left;
    background-color: #20a9e5;
    color: #fff;
}

tr {
    background-color: #b1e5f2;
}

td.even {
    background-color: #fff;
}